#background-pop {
    display: none;
    /*隐藏窗口*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.div-pop {
    background-color: white;
    width: 36em;
    height: 30em;
    z-index: 1;
    /*设置堆叠顺序，参数大的在前，默认为0*/
    margin: 12% auto;
    border-radius: 6px;
    overflow: hidden;
}

.div-top-title {
    text-align: center;
    margin: 2em 0 1em 0;
}

.layui-form-item {
    margin-left: 50px;
}

.state_Correct {
    position: absolute;
    top: 8px;
    right: -28px;
}

.colr {
    font-size: 20px;
    color: #00FF00;
}

.colr_del {
    font-size: 18px;
    color: red;
}

